# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project specific
backend/uploads/
backend/audio/
backend/captions/
backend/output/
backend/*.mp3
backend/*.srt
backend/*.mp4

# OS
.DS_Store
Thumbs.db
